body {
background-repeat: repeat;
background-color: blanchedalmond;

}

h1 {
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
}
h2{
    font-size: x-large;
    text-align: right;
    font-family: cursive;
}
.link{
    font-size:xx-large;
        text-align: center;
        font-family: cursive;
}
a{
font-size: xx-large;
    text-align: center;
    font-family: cursive;
}